# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
/sonarlint/

/codeStyles/codeStyleConfig.xml
/git_toolbox_prj.xml
/hotswap_agent.xml
/jpa-buddy.xml
/kotlinc.xml
/codeStyles/Project.xml
/inspectionProfiles/Project_Default.xml
/uiDesigner.xml